@font-face {
  font-family: 'promis_integritate_icons';
  src: url('../font/promis_integritate_icons.eot?86964341');
  src: url('../font/promis_integritate_icons.eot?86964341#iefix') format('embedded-opentype'),
       url('../font/promis_integritate_icons.woff?86964341') format('woff'),
       url('../font/promis_integritate_icons.ttf?86964341') format('truetype'),
       url('../font/promis_integritate_icons.svg?86964341#promis_integritate_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'promis_integritate_icons';
    src: url('../font/promis_integritate_icons.svg?86964341#promis_integritate_icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "promis_integritate_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-male:before { content: '\e807'; } /* '' */
.icon-female:before { content: '\e808'; } /* '' */
.icon-child:before { content: '\e809'; } /* '' */
.icon-users:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-th-list:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-ok-circled:before { content: '\e80f'; } /* '' */
.icon-ok-squared:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-cancel-circled:before { content: '\e812'; } /* '' */
.icon-plus:before { content: '\e813'; } /* '' */
.icon-plus-circled:before { content: '\e814'; } /* '' */
.icon-plus-squared:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-minus-circled:before { content: '\e817'; } /* '' */
.icon-minus-squared:before { content: '\e818'; } /* '' */
.icon-help:before { content: '\e819'; } /* '' */
.icon-help-circled:before { content: '\e81a'; } /* '' */
.icon-info-circled:before { content: '\e81b'; } /* '' */
.icon-info:before { content: '\e81c'; } /* '' */
.icon-home:before { content: '\e81d'; } /* '' */
.icon-link:before { content: '\e81e'; } /* '' */
.icon-attach:before { content: '\e81f'; } /* '' */
.icon-link-ext-alt:before { content: '\e820'; } /* '' */
.icon-tag:before { content: '\e821'; } /* '' */
.icon-tags:before { content: '\e822'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e823'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e824'; } /* '' */
.icon-thumbs-up:before { content: '\e825'; } /* '' */
.icon-thumbs-down:before { content: '\e826'; } /* '' */
.icon-quote-right:before { content: '\e827'; } /* '' */
.icon-export-alt:before { content: '\e828'; } /* '' */
.icon-share:before { content: '\e829'; } /* '' */
.icon-edit:before { content: '\e82a'; } /* '' */
.icon-comment:before { content: '\e82b'; } /* '' */
.icon-comment-empty:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-attention-circled:before { content: '\e82e'; } /* '' */
.icon-attention:before { content: '\e82f'; } /* '' */
.icon-location:before { content: '\e830'; } /* '' */
.icon-direction:before { content: '\e831'; } /* '' */
.icon-doc:before { content: '\e832'; } /* '' */
.icon-doc-text:before { content: '\e833'; } /* '' */
.icon-cog:before { content: '\e834'; } /* '' */
.icon-phone:before { content: '\e835'; } /* '' */
.icon-rss-squared:before { content: '\e836'; } /* '' */
.icon-phone-squared:before { content: '\e837'; } /* '' */
.icon-menu:before { content: '\e838'; } /* '' */
.icon-doc-inv:before { content: '\e839'; } /* '' */
.icon-calendar:before { content: '\e83a'; } /* '' */
.icon-clock:before { content: '\e83b'; } /* '' */
.icon-zoom-in:before { content: '\e83c'; } /* '' */
.icon-zoom-out:before { content: '\e83d'; } /* '' */
.icon-down-open:before { content: '\e83e'; } /* '' */
.icon-left-open:before { content: '\e83f'; } /* '' */
.icon-right-open:before { content: '\e840'; } /* '' */
.icon-up-open:before { content: '\e841'; } /* '' */
.icon-angle-left:before { content: '\e842'; } /* '' */
.icon-angle-right:before { content: '\e843'; } /* '' */
.icon-angle-up:before { content: '\e844'; } /* '' */
.icon-angle-down:before { content: '\e845'; } /* '' */
.icon-angle-circled-left:before { content: '\e846'; } /* '' */
.icon-angle-circled-right:before { content: '\e847'; } /* '' */
.icon-angle-circled-up:before { content: '\e848'; } /* '' */
.icon-angle-circled-down:before { content: '\e849'; } /* '' */
.icon-left-circled:before { content: '\e84a'; } /* '' */
.icon-right-circled:before { content: '\e84b'; } /* '' */
.icon-up-circled:before { content: '\e84c'; } /* '' */
.icon-down-circled:before { content: '\e84d'; } /* '' */
.icon-award:before { content: '\e84e'; } /* '' */
.icon-globe:before { content: '\e84f'; } /* '' */
.icon-leaf:before { content: '\e850'; } /* '' */
.icon-suitcase:before { content: '\e851'; } /* '' */
.icon-briefcase:before { content: '\e852'; } /* '' */
.icon-off:before { content: '\e853'; } /* '' */
.icon-ellipsis:before { content: '\e854'; } /* '' */
.icon-ellipsis-vert:before { content: '\e855'; } /* '' */
.icon-circle:before { content: '\e856'; } /* '' */
.icon-circle-empty:before { content: '\e857'; } /* '' */
.icon-circle-thin:before { content: '\e858'; } /* '' */
.icon-asterisk:before { content: '\e859'; } /* '' */
.icon-gift:before { content: '\e85a'; } /* '' */
.icon-chart-bar:before { content: '\e85b'; } /* '' */
.icon-money:before { content: '\e85c'; } /* '' */
.icon-euro:before { content: '\e85d'; } /* '' */
.icon-pound:before { content: '\e85e'; } /* '' */
.icon-dollar:before { content: '\e85f'; } /* '' */
.icon-rouble:before { content: '\e860'; } /* '' */
.icon-graduation-cap:before { content: '\e861'; } /* '' */
.icon-database:before { content: '\e862'; } /* '' */
.icon-facebook-squared:before { content: '\e863'; } /* '' */
.icon-linkedin-squared:before { content: '\e864'; } /* '' */
.icon-gplus-squared:before { content: '\e865'; } /* '' */
.icon-skype:before { content: '\e866'; } /* '' */
.icon-twitter-squared:before { content: '\e867'; } /* '' */
.icon-youtube-squared:before { content: '\e868'; } /* '' */
.icon-layers:before { content: '\e869'; } /* '' */
.icon-resize-full:before { content: '\e86a'; } /* '' */
.icon-resize-small:before { content: '\e86b'; } /* '' */
.icon-home-1:before { content: '\e86c'; } /* '' */
.icon-dollar-1:before { content: '\e86d'; } /* '' */
.icon-chart-pie:before { content: '\e86e'; } /* '' */
.icon-tv:before { content: '\e86f'; } /* '' */
.icon-truck:before { content: '\e870'; } /* '' */
.icon-wallet:before { content: '\e871'; } /* '' */
.icon-cab:before { content: '\e872'; } /* '' */
.icon-commerical-building:before { content: '\e873'; } /* '' */
.icon-buildings:before { content: '\e874'; } /* '' */
.icon-bank:before { content: '\e875'; } /* '' */
.icon-money-2:before { content: '\e876'; } /* '' */
.icon-calendar-1:before { content: '\e877'; } /* '' */
.icon-music:before { content: '\e878'; } /* '' */
.icon-search-1:before { content: '\e879'; } /* '' */
.icon-mail-1:before { content: '\e87a'; } /* '' */
.icon-user-1:before { content: '\e87b'; } /* '' */
.icon-heart-1:before { content: '\e87c'; } /* '' */
.icon-star-1:before { content: '\e87d'; } /* '' */
.icon-videocam:before { content: '\e87e'; } /* '' */
.icon-camera-1:before { content: '\e87f'; } /* '' */
.icon-photo:before { content: '\e880'; } /* '' */
.icon-attach-1:before { content: '\e881'; } /* '' */
.icon-lock:before { content: '\e882'; } /* '' */
.icon-eye:before { content: '\e883'; } /* '' */
.icon-tag-1:before { content: '\e884'; } /* '' */
.icon-thumbs-up-1:before { content: '\e885'; } /* '' */
.icon-pencil:before { content: '\e886'; } /* '' */
.icon-comment-1:before { content: '\e887'; } /* '' */
.icon-location-1:before { content: '\e888'; } /* '' */
.icon-cup:before { content: '\e889'; } /* '' */
.icon-trash:before { content: '\e88a'; } /* '' */
.icon-doc-1:before { content: '\e88b'; } /* '' */
.icon-key:before { content: '\e88c'; } /* '' */
.icon-database-1:before { content: '\e88d'; } /* '' */
.icon-megaphone:before { content: '\e88e'; } /* '' */
.icon-graduation-cap-1:before { content: '\e88f'; } /* '' */
.icon-fire:before { content: '\e890'; } /* '' */
.icon-cd:before { content: '\e891'; } /* '' */
.icon-cloud:before { content: '\e892'; } /* '' */
.icon-globe-1:before { content: '\e893'; } /* '' */
.icon-inbox:before { content: '\e894'; } /* '' */
.icon-mobile:before { content: '\e895'; } /* '' */
.icon-desktop:before { content: '\e896'; } /* '' */
.icon-lightbulb:before { content: '\e897'; } /* '' */
.icon-sound:before { content: '\e898'; } /* '' */
.icon-clock-1:before { content: '\e899'; } /* '' */
.icon-calendar-2:before { content: '\e89a'; } /* '' */
.icon-params:before { content: '\e89b'; } /* '' */
.icon-note:before { content: '\e89c'; } /* '' */
.icon-cog-1:before { content: '\e89d'; } /* '' */
.icon-beaker:before { content: '\e89e'; } /* '' */
.icon-money-1:before { content: '\e89f'; } /* '' */
.icon-food:before { content: '\e8a0'; } /* '' */
.icon-shop:before { content: '\e8a1'; } /* '' */
.icon-t-shirt:before { content: '\e8a2'; } /* '' */
.icon-diamond:before { content: '\e8a3'; } /* '' */
.icon-signal:before { content: '\e8a4'; } /* '' */
.icon-down-circled2:before { content: '\e8a5'; } /* '' */
.icon-download-alt:before { content: '\e8a6'; } /* '' */
.icon-flag:before { content: '\e8a7'; } /* '' */